// dialogs
.dialogMessage {
  padding-top: 40px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.dialogButton {
  display: block;
  margin: 24px auto 16px auto;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  background-color: white;
  font-size: 18px;
}

.twitterButton {
  cursor: default;
  display: inline-block;
  height: 28px;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px 6px 0px 22px;
  margin-left: 6px;
  margin-bottom: 12px;
  color: white;
  background-color: #55ACEE;
  background-image: url('../images/twitter_white_16.png');
  background-position: 2px 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  text-decoration: none;
}

.errorMessage {
  color: red;
}

.dialogUser {
  padding-top: 8px;
  margin: 24px auto 0px auto;
  width: 90%;
  max-width: 400px;
  border: 1px solid lightgray;
  border-radius: 8px;
  background-color: rgba(0,0,255,0.02);
  font-family: sans-serif;

  h2 {
    margin-left: 12px;
  }
  form {
    margin-left: 12px;

    input[type=text] {
      display: block;
      width: 90%;
      max-width: 380px;
      margin: 16px auto 0px auto;
      height: 32px;
      font-size: 20px;
      border-radius: 8px;
      background-image: url('../images/user-20.png');
      background-position: 2px 4px;
      background-repeat: no-repeat;
      padding-left: 30px;
    }
    input[type=password] {
      display: block;
      width: 90%;
      max-width: 380px;
      margin: 16px auto 0px auto;
      height: 32px;
      font-size: 20px;
      border-radius: 8px;
      background-image: url('../images/key-20.png');
      background-position: 2px 12px;
      background-repeat: no-repeat;
      padding-left: 30px;
    }
  }
}

.dialogNoLabels {
  padding-top: 8px;
  margin: 24px auto 0px auto;
  width: 90%;
  max-width: 400px;
  border: 1px solid lightgray;
  border-radius: 8px;
  background-color: rgba(0,0,255,0.02);
  font-family: sans-serif;

  h2 {
    margin-left: 12px;
  }
  div {
    margin-left: 12px;

    input[type=text] {
      display: block;
      width: 90%;
      max-width: 380px;
      margin: 16px auto 0px auto;
      height: 32px;
      font-size: 20px;
      border-radius: 8px;
    }
    textarea {
      display: block;
      resize: none;
      width: 90%;
      max-width: 380px;
      margin: 16px auto 0px auto;
      font-size: 20px;
      border-radius: 8px;
    }
  }
}
