.pin {
  cursor: default;
  border: 1px solid darkgray;
  border-radius: 4px;

  @media (max-width: 414px) {
    width: 44%;
    margin: 1%;
    padding: 1%;
  }

  @media (min-width: 415px) and (max-width: 768px) {
    width: 30%;
    margin: 0.75%;
    padding: 0.75%;
  }

  @media (min-width: 769px) {
    width: 22.5%;
    margin: 0.5%;
    padding: 0.5%;
  }

  .imageContainer {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
  h3 {
    padding-top: 4px;
  }
  p {
    text-align: left;
    padding-bottom: 4px;
    border-bottom: 1px solid lightgray;
  }

  .countArea {
    margin-top: 4px;
    margin-bottom: 2px;
    padding-top: 4px;
    cursor: pointer;

    span {
      margin-left: 4px;
    }
  }

  .category {
    float: left;
    text-align: left;
    font-size: 14px;
  }

  .creator {
    float: right;
    text-align: right;
    font-size: 14px;
  }

  .creator a:link, a:active, a:visited, a:hover {
    color: blue;
    text-decoration: none;
  }

  .creator a:hover {
    text-decoration: underline;
  }

  .buttonArea {
    float: right;

    button {
      font-size: 12px;
      margin-left: 4px;
    }
  }
}

.addPin {
  cursor: default;
  border: 1px solid darkgray;
  border-radius: 4px;
  background-color: lightgray;

  @media (max-width: 414px) {
    width: 44%;
    margin: 1%;
    padding: 1%;
  }

  @media (min-width: 415px) and (max-width: 768px) {
    width: 30%;
    margin: 0.75%;
    padding: 0.75%;
  }

  @media (min-width: 769px) {
    width: 22.5%;
    margin: 0.5%;
    padding: 0.5%;
  }

  .addSign {
    text-align: center;
    width: 40px;
    margin: 8px auto 12px auto;
    padding: 0 2px 2px 0;
    font-size: 32px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: silver;
  }
}
